.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.timeline {
    height: 50px;
    min-width: 100%;
    position: relative;
}

.entry {
    height: 20px;
    background: blue;
    border: 1px solid black;
    text-align: center;
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 25px;
    overflow: hidden;
}

.entry.active {
    border-width: 2px;
}

.entry-1 {
    background: red;
}

.entry-2 {
    background: green;
}

.entry-3 {
    background: blue;
}

.entry-4 {
    background: yellow;
    color: black;
}

.entry-5 {
    background: purple;
}

.entry-6 {
    background: orange;
}

.entry-1.active {
    border-color: red;
    color: red;
}

.entry-2.active {
    border-color: green;
    color: green;
}

.entry-3.active {
    border-color: blue;
    color: blue;
}

.entry-4.active {
    border-color: yellow;
    color: yellow;
}

.entry-5.active {
    border-color: purple;
    color: purple;
}

.entry-6.active {
    border-color: orange;
    color: orange;
}

.ticks {
    position: relative;
}

.tick {
    width: 1px;
    height: 10px;
    background: black;
    position: absolute;
    bottom: -30px;
}

.line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: black;
    bottom: -25px;
}

.tick > span {
    font-size: 10px;
    margin-left: -5px;
    padding-top: 2px;
    width: 10px;
    text-align: center;
    display: inline-block;
}